<input id="session-uuid" type="hidden", value=<%= "#{@uuid}" %>>

<div class="navbar bg-dark">
  <div class="nav-items">
    <%= image_tag "Music Disk.png", size: "40x40", alt: "" %>
    <p>Minecraft Multiplayer Records</p>
  </div>
</div>

<div id="wrap">
  <div id="main" class="">
    <%= form_with url: "/track", method: :post, model: @track, 
      class: "dropzone", id: "track-uploader" do |form| %>
      <div class="dz-default dz-message">
        <h3>Drop tracks here</h3> or
        <strong>click</strong> to browse files
      </div>
    <% end %>

    <hr>

    <div id="track-table">
      
    </div>

    <%= button_tag "Convert to a Resource Pack!", type: 'button', onclick: "convert()", id: "convert-btn", class: 'btn btn-default', disabled: true %>

    <div id="download-section", style="display: none;">
      <%= link_to "Download", track_download_path(uuid: @uuid), method: "post", id: "download-btn", class: 'btn btn-default' %>
    </div>

  </div>
</div>
<footer class="footer bg-dark">
  <div class="container">
    <p>This website is not affiliated with Mojang. Any files uploaded will be deleted from the server after the user leaves the website.</p>
  </div>
</footer>

<%= javascript_pack_tag "dropzone_controller" %>
