<input id="session-uuid" type="hidden", value=<%= "#{@uuid}" %>>

<div class="navbar bg-dark">
  <div class="nav-items container">
    <div class="brand" style="display: flex;">
			<%= image_tag "Music Disk.png", size: "40x40", alt: "" %>
			<h1>Minecraft Multiplayer Records</h1>
    </div>

		<div class="nav-links">
      <a class="nav-link bg-dark" href="/">Home</a>
      <a class="nav-link bg-dark" href="/about">About</a>
      <a class="nav-link bg-dark" href="/help">Help</a>
      <a class="nav-link bg-dark" href="/donate">Donate</a>
		</div>
  </div>
</div>

<div id="wrap">
  <div id="main" class="container">
    <h1 class="display-1">Upload Tracks</h1>
    <p class="lead">Only audio files are accepted</p>
    <%= form_with url: "/track", method: :post, model: @track, 
      class: "dropzone", id: "track-uploader" do |form| %>
      <div class="dz-default dz-message">
        <h3>Drop tracks here</h3> or
        <strong>click</strong> to browse files
      </div>
    <% end %>

    <hr>
    <h1 class="display-1">Edit and Convert</h1>
    <div class="track-table-headers">
      <p class="lead file-name">File Name</p>
      <p class="lead display-name">Display Name</p>
      <p class="lead texture">Texture</p>
    </div>
    <div id="track-table">
      
    </div>

    <%= button_tag "Convert to a Resource Pack!", type: 'button', onclick: "convert()", id: "convert-btn", class: 'btn btn-outline-primary btn-sm', disabled: true %>

    <div class="progress">
      <div id="converting-progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
      aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
        
      </div>
    </div>

    <div id="download-section", style="display: none;">
      <%= link_to "Download", track_download_path(uuid: @uuid), method: "post", id: "download-btn", class: 'btn btn-outline-primary btn-lg' %>
    </div>

  </div>
</div>

<footer class="footer bg-dark">
  <div class="container">
    <p>This website is not affiliated with Mojang. Any files uploaded will be deleted from the server 30 minutes after it was uploaded.</p>
  </div>
</footer>

<%= javascript_pack_tag "dropzone_controller" %>
